 <h1>Editing Book</h1>
　<% if @list.errors.any? %>
  <%= @list.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  
<%= form_with model: @list do|f| %>

 <h4>Title</h4></h4>
 <%= f.text_field :title %>
 
 <h4>Body</h4>
 <%= f.text_area :body %>
 
 <%= f.submit 'Update Book' %>
 
<% end %>



<%= link_to "Edit", edit_list_path(@list.id) %>
<%= link_to "Back", lists_path %>