<div>
  <%= flash[:notice] %>
</div>

<p><strong>Titke:</strong><%= @list.title %></p>

<p><strong>Body：</strong><%= @list.body %></p>



<%= link_to "Edit", edit_list_path(@list.id) %>
<%= link_to "Back", lists_path %>